<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @expansion.name %>
</p>

<p>
  <b>Icon url:</b>
  <%= @expansion.icon_url %>
</p>

<p>
  <b>Release date:</b>
  <%= @expansion.release_date %>
</p>


<%= link_to 'Edit', edit_expansion_path(@expansion) %> |
<%= link_to 'Back', expansions_path %>
