<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @attack.name %>
</p>

<p>
  <b>Cost:</b>
  <%= @attack.cost %>
</p>

<p>
  <b>Text:</b>
  <%= @attack.text %>
</p>

<p>
  <b>Dmg:</b>
  <%= @attack.dmg %>
</p>


<%= link_to 'Edit', edit_attack_path(@attack) %> |
<%= link_to 'Back', attacks_path %>
